<a href="https://colab.research.google.com/github/Aaron-KS/Python/blob/main/For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lower = int(input("enter the lower range:"))
upper = int(input("enter the upper range:"))

for i in range(lower, upper+1):
  for j in range(1,11):
    print(i*j, end=" ")
  print()

enter the lower range:2
enter the upper range:10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
lower = int(input("enter the lower range:"))
upper = int(input("enter the upper range:"))

for i in range(lower, upper+1):
  for j in range(1,6):
    print(str(i) + "x" + str(j) + "=" + str(i*j), end=" ")
  print()

enter the lower range:1
enter the upper range:10
1x1=1 1x2=2 1x3=3 1x4=4 1x5=5
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15
4x1=4 4x2=8 4x3=12 4x4=16 4x5=20
5x1=5 5x2=10 5x3=15 5x4=20 5x5=25
6x1=6 6x2=12 6x3=18 6x4=24 6x5=30
7x1=7 7x2=14 7x3=21 7x4=28 7x5=35
8x1=8 8x2=16 8x3=24 8x4=32 8x5=40
9x1=9 9x2=18 9x3=27 9x4=36 9x5=45
10x1=10 10x2=20 10x3=30 10x4=40 10x5=50

In [ ]:
for i in range(1,10):
  print("#" * i)

#
##
###
####
#####
######
#######
########
#########

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
n = ""
for i in range(1,8,2):
  n += str(i)+ " "
  print(n)

1
1 3
1 3 5
1 3 5 7

While Loop

In [ ]:
n=1
while n<= 10:    #while until n = 10
  print(n)
  n+=1    #mean n = n +1 or increase +1

1
2
3
4
5
6
7
8
9
10

In [2]:
#program to check whether you can attand the coding class at brightchamps


print("Welcome to brightchamps coding class")
print("please enter your internet speed to check whether you can attend the coding class")
internet_speed= int(input("Enter the internet speed:"))
while internet_speed>0:
  if internet_speed >=50:
    print("your internet speed is terrific today")
    print("hence, you can attend the coding class")
    break
  elif internet_speed < 50 and internet_speed > 25:
    print("your internet speed seems good today")
    print("enjot your coding class")
    break
  elif internet_speed < 25 and internet_speed > 1:
    print("your internet speed is low today")
    break
else:
  print("sorry you cannot attend the class today")

Welcome to brightchamps coding class
please enter your internet speed to check whether you can attend the coding class
Enter the internet speed:14
your internet speed is low today

Math

In [3]:
import math
number1 = math.sqrt(100)
print(number1)
print()

number2 = math.sqrt(3)
print(number2)

10.0

1.7320508075688772

In [4]:
num1 = math.ceil(8.5)
print(num1)
print()
num2 = math.floor(8.5)
print(num2)

9

8

In [5]:
num3 = math.pow(2,4)
print(num3)

16.0

In [6]:
num4 = math.pi
print(num4)

3.141592653589793

In [8]:
abs = math.fabs(-10)
print(abs)

10.0

In [7]:
factorial = math.factorial(3)
print(factorial)

6